<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>LongLat.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F9FA9CDC1F14436400491705</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F9FA9CF01F14436400491705</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F9FA9CFB1F14436500491705</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
